.card-register{
    width: 50%;
    margin-top: 20px;
}

/* NAV */

.navbar.navbar-expand-lg{
    background-image: url('../media/Italy-flag.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar{
    padding: 1.5 !important;
    --bs-navbar-toggler-padding-y: 0.12rem !important;
    --bs-navbar-toggler-padding-x: 0rem !important;   
}

.mb-4{
    margin-bottom: 0 !important;
}

.container-fluid{
    --bs-gutter-x: 0rem !important;
}

.navbar-toggler{
    border: none;
}

#btnDropper{
    color: black;
}

.collapse.navbar-collapse{
    justify-content: center;
}

#tabs{
    width: 80%;
    justify-content: center;
    padding-left: 230px;
}

#logo{
    width: 10%;
    justify-content: flex-start;
    margin-right: 90px;
}

.col-md-3.text-end {
    display: flex;
    justify-content: flex-end;
    width: 18% !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.col-md-3.text-end .btn{
    border: 1.5px solid black;
}

.col.imagen{
    display: flex;
    justify-content: center;
}

@media (max-width: 1302px){
    #tabs{
        padding-left: 165px !important;
    }
}

@media (max-width: 1182px){
    #tabs{
        padding-left: 110px !important;
    }

    .card.card-register{
        width: 70%;
    }
}

@media (max-width: 992px){
    #tabs{
        padding-left: 5px !important;
    }
    .col-md-3.text-end {
        flex-basis: fit-content;
        /* display: block; */
    }

    .col-md-3{
        padding-left: 0px !important;
    }

    .navbar-nav.mb-2.mb-lg-0.logo{
        display: none !important;
    }

    .row.login{
        height: auto;
    }

    .card.card-register{
        width: 80%;
    }

    #container-login-img{
        justify-content: center !important;   
    }

    #container-login-img img{
        width: 350px !important;
        height: 300px !important;
    }

    #container-login .card .card-footer{
        display: flex;
        justify-content: center;
    }    

    .container-perfil{
        width: 100%;
        padding: 20px;
    }

    .container-perfil .card-footer .btn{
        margin-bottom: 10px;
    }
}

@media (min-width: 992px){

    .col-md-3.text-end {
        width: 25% !important;
    }

    .col-md-3{
        padding-left: 0px !important;
    }

    .navbar{
        --bs-navbar-toggler-padding-y: 0.12rem !important;
    }

    .navbar-expand-lg .navbar-nav {
        flex-direction: row !important;
    }     
    
}

@media (max-width: 770px){
.collapse.navbar-collapse{
    justify-content: space-around;
    width: 80%;
    }

}

@media (max-width: 768px){

    .navbar{
        padding: 1.5 !important;
        --bs-navbar-padding-y: 0.3rem;
    }
}

@media (max-width: 249px){
    .col-md-3.text-end{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

}