{% extends 'vista/Principal.html' %} {% load static %} {% block content %}

<body>
    <header>
        <div class="container">
            <!-- <h1 class="text-center">CARTA</h1> -->
            <hr>
        </div>
    </header>
    <!-- START SECTION STORE -->
    <section class="store">
        <div class="container">
            <div class="items">
                <div class="row">

                    <div class="col-12 col-md-6">
                        <div class="item shadow mb-4">
                            <h3 class="item-title">Pizza</h3>
                            <img class="item-image" src="{%static 'media/img/pizza.jpg'%}">

                            <div class="item-details">
                                <h4 class="item-price">$9.990</h4>
                                <button class="item-button btn btn-primary addToCart">AÑADIR AL CARRO</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="item shadow mb-4">
                            <h3 class="item-title">Fetuccini al pesto</h3>

                            <img class="item-image" src="{%static 'media/img/fetuccini.jpg'%}">

                            <div class="item-details">
                                <h4 class="item-price">$10.800</h4>
                                <button class="item-button btn btn-primary addToCart">AÑADIR AL CARRO</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="item shadow mb-4">
                            <h3 class="item-title">Lasagna bolognesa</h3>

                            <img class="item-image" src="{%static 'media/img/lasagna.jpg'%}">

                            <div class="item-details">
                                <h4 class="item-price">$10.300</h4>
                                <button class="item-button btn btn-primary addToCart">AÑADIR AL CARRO</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="item shadow mb-4">
                            <h3 class="item-title">Gnocchi a la boloñesa</h3>

                            <img class="item-image" src="{%static 'media/img/ñoquis.jpg'%}">

                            <div class="item-details">
                                <h4 class="item-price">$11.800</h4>
                                <button class="item-button btn btn-primary addToCart" href="#" data-pushbar-target="pushbar-carrito">AÑADIR AL CARRO</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="item shadow mb-4">
                            <h3 class="item-title">Carpaccio</h3>

                            <img class="item-image" src="{%static 'media/img/carpaccio.jpg'%}">
                            <div class="item-details">
                                <h4 class="item-price">$10.900</h4>
                                <button class="item-button btn btn-primary addToCart">AÑADIR AL CARRO</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="item shadow mb-4">
                            <h3 class="item-title">Tiramisu classico</h3>

                            <img class="item-image" src="{%static 'media/img/TiramisuClassico.jpg'%}">
                            <div class="item-details">
                                <h4 class="item-price">$5.900</h4>
                                <button class="item-button btn btn-primary addToCart">AÑADIR AL CARRO</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END SECTION STORE -->
    <!-- START SECTION SHOPPING CART -->
    <div data-pushbar-id="pushbar-carrito" class="pushbar-carrito" data-pushbar-direction="right"></div>
    <section class="shopping-cart">
        <div class="container">
            <h1 class="text-center">CARRO DE COMPRAS</h1>
            <hr>
            <div class="row">
                <div class="col-6">
                    <div class="shopping-cart-header">
                        <h6>Producto</h6>
                    </div>
                </div>
                <div class="col-2">
                    <div class="shopping-cart-header">
                        <h6 class="text-truncate">Precio</h6>
                    </div>
                </div>
                <div class="col-4">
                    <div class="shopping-cart-header">
                        <h6>Cantidad</h6>
                    </div>
                </div>
            </div>
            <!-- ? START SHOPPING CART ITEMS -->
            <div class="shopping-cart-items shoppingCartItemsContainer">
            </div>
            <!-- ? END SHOPPING CART ITEMS -->

            <!-- START TOTAL -->
            <div class="row">
                <div class="col-12">
                    <div class="shopping-cart-total d-flex align-items-center">
                        <p class="mb-0">Total</p>
                        <p class="ml-4 mb-0 shoppingCartTotal">$0</p>
                        <div class="toast ml-auto bg-info" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
                            <div class="toast-header">
                                <span>✅</span>
                                <strong class="mr-auto ml-1 text-secondary">El producto ya esta en el carro</strong>
                                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="toast-body text-white">
                                El producto aumento correctamente
                            </div>
                        </div>
                        <button class="btn btn-success ml-auto comprarButton" type="button" data-toggle="modal" data-target="#comprarModal">Ir a pagar</button>
                    </div>
                </div>
            </div>

            <!-- END TOTAL -->

            <!-- START MODAL COMPRA -->
            <div class="modal fade" id="comprarModal" tabindex="-1" aria-labelledby="comprarModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="comprarModalLabel">Gracias por su compra</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Se esta redirigiendo al pago</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MODAL COMPRA -->


        </div>

    </section>
    <!-- END SECTION SHOPPING CART -->


    <!-- SCRIPTS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="{%static 'js/tienda.js'%}"></script>

</body>

{% endblock content %}