{% extends 'vista/Principal.html' %} 
{% load static %}
{% block content %}
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400" rel="stylesheet">
<link rel="stylesheet" href="/static/css/style-cart.css">

<body>
    <div class="contenedor">
        <header>
            <div class="container">
                <h1 class="text-center">CARTA</h1>
                <hr>
            </div>
        </header>
        <main>
        <nav>
            <a class="banner" data-pushbar-target="pushbar-productos"></a>
            <button class="btn-menu" href="#" data-pushbar-target="pushbar-carrito"><span class="fa fa-shopping-basket"></span></button>
        </nav>
        <form method="GET" action="."class="d-flex" role="search">
        <div class="container text-center">
            <div class="row align-items-start">
                <div class="col">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name='buscar'>

                </div>
                
                    <div class="col ">
                        <div class="form-group ">
                            <select id="Categoria" class="form-select" name="categoria">
                              <option selected>Categoria</option>
                              {% for cat in lista %}
                              <option value="{{ cat.id_categoria }}">{{ cat.categoria_prod }}</option>
                              {% endfor %}
                            </select>
                            
                          </div>
                    </div>
                    <div class="col d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Buscar</button>
                </div>


            </form>
                </div>
            </div>
            <section class="productos d-flex flex-wrap" >
                {% for producto in productos %}
                <div class="col-12 col-md-6">
                    <div class="item shadow mb-4">
                        <h3 class="item-title">{{producto.prod_nombre|upper}}</h3>
                        <img class="item-image" src="/static/producto/{{producto.prod_imagen}}">
                        <figcaption>
                            <div class="item-details">
                                <h4 class="item-price">${{producto.prod_precio_ba}}</h4>
                                <button class="item-button btn btn-primary addToCart" href="#" data-pushbar-target="pushbar-carrito">AÑADIR AL CARRO</button>
                            </div>
                    </div>
                </div>
                {% endfor %}


                
            </section>
            <div class="row pagination" style="display: flex; margin: 10px;">

                <div class="col-md-16 col-lg-12 col-sm-12 col-xs-12">
                  <div class="col-md-6 float-left">
                    {% if productos.has_previous %}
                      <div class="clearfix">
                        <a  href="?{{ request.GET.urlencode }}&page={{productos.previous_page_number}}" class="btn btn-primary float-left">Anterior</a>
                    {% endif %}
                  </div>
                </div>
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                  <div class="col-md-12 float-left">
                    {% if productos.has_next %}
                      <div class="clearfix">
                        <a href="?{{ request.GET.urlencode }}&page={{productos.next_page_number}}" class="btn btn-primary float-right">Siguiente</a>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>            
        </main>

        
        <!-- Carrito de Compras -->
        <div data-pushbar-id="pushbar-carrito" class="pushbar-carrito" data-pushbar-direction="right">
            <div class="btn-cerrar izquierda">
                <button data-pushbar-close><i class="fas fa-times"></i></button>
            </div>

            <section class="shopping-cart">
                <div class="container">
                    <h1 class="text-center">CARRO DE COMPRAS</h1>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <div class="shopping-cart-header">
                                <h6>Producto</h6>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="shopping-cart-header">
                                <h6 class="text-truncate">Precio</h6>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="shopping-cart-header">
                                <h6>Cantidad</h6>
                            </div>
                        </div>
                    </div>
                    <!-- CART ITEMS -->
                    <div class="shopping-cart-items shoppingCartItemsContainer">
                    </div>

                    <!--TOTAL -->
                    <div class="row">
                        <div class="col-12">
                            <div class="shopping-cart-total d-flex align-items-center">
                                <p class="mb-0">Total</p>
                                <p class="ml-4 mb-0 shoppingCartTotal">$0</p>
                                <div class="toast ml-auto bg-info" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
                                    <div class="toast-header">
                                        <span>✅</span>
                                        <strong class="mr-auto ml-1 text-secondary">El producto ya esta en el carro</strong>
                                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                                    </div>
                                    <div class="toast-body text-white">
                                        El producto aumento correctamente
                                    </div>
                                </div>
                                <button class="btn btn-success ml-auto comprarButton" type="button" onclick="window.location.href='{% url 'pedido'%}'">Comprar</button>
                            </div>

                        </div>

            </section>
            </div>
            </div>

            <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
            <script src="/static/js/tienda.js"></script>
            <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
            <script>
                var pushbar = new Pushbar({
                    blur: true,
                    overlay: true
                });
            </script>
            <script>
                $(function() {
                    $('#login').click(function() {
                        $(this).next('#login-content').slideToggle();
                        $(this).toggleClass('active');
                    });
                });
            </script>

</body>

{% endblock content %}