geocoder
social-auth-app-django
social-auth-core
transbank-sdk
django-4-jet
django-jet-reboot
google-api-python-client
feedparser
https://github.com/Barukimang/django-jet/archive/dev.zip
psycopg
django-environ
psycopg2-binary
django
mysqlclient
django-import-export