{% extends 'vista/Principal.html' %}
{% load static %}
{% block content %}

<div class="container">
	<div class="row login">
		<div class="col d-flex flex-row mb-5 mt-5" style="flex-wrap: wrap;" id="container-login">
			<div class="col imagen align-items-center px-0" id="container-login-img">
				<img src={% static 'producto/margherita_wikipedia.jpg' %} class="mt-4 rounded">
			</div>
			<div class="col px-0">
				<h2 class="fw-bold text-center py-5">Bienvenido</h2>
				<form method="POST">
					<div class="card">
						{% csrf_token %}
						<div class="card-body">
							<div class="correo d-flex justify-content-start flex-column">
								<label for="correo" class="form-label mb-2">Ingrese su Correo</label>
								<input name="correo" class="form-control" type="text" placeholder="Ingrese su Correo">
							</div>
							<div class="password d-flex justify-content-start flex-column">
								<label for="pass" class="form-label mt-2 mb-2">Ingrese su Contraseña</label>
								<input id="pass" class="form-control" name="pass" type="password" placeholder="Ingrese su Contraseña" value="">
								<i style="cursor:pointer;" id="visibilityBtn">
									<span class="material-symbols-outlined">
										visibility
									</span>
								</i>
							</div>
						</input>
					</div>
						<div class="card-footer">
							<input class="btn btn-primary" type="submit" href="/" value="Iniciar Sesión">
						</div>
						<div class="my-3 text-center">
							<span>¿No tienes una cuenta? <a href="{% url 'registro'%}">Registrate</a></span> <br>
							{% comment %} <span><a href="#">Recuperar Contraseña</a></span> {% endcomment %}
						</div>
					</div>
				</form>
				<div class="container w-100 my-5">
					<div class="row text-center">
						{% comment %} <a href="{% url 'social:begin' 'facebook' %}">Login con facebook</a> {% endcomment %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}