{% extends 'vista/Principal.html' %}
{% load static %}
{% block content %}

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ingreso</title>
</head>

<body>
	<div class="container">
		<div class="row login">
			<div class="col imagen">
				<img src={% static 'productos/margherita_wikipedia.jpg' %} width="330px" height="250px">
			</div>
			<div class="col">
				<h2 class="fw-bold text-center py-5">Bienvenido</h2>
				<form method="POST">
					<div class="d-grid">
						{% csrf_token %}
						{{form}}
						 <br>
						<input class="btn btn-primary" type="submit" href="/" value="Iniciar Sesion">
					</div>
					<div class="my-3 text-center">
						<span>No poseo una cuenta. <a href="{% url 'registro'%}">Registrate</a></span> <br>
						<span><a href="#">Recuperar Contraseña</a></span>
					</div>
				</form>
				<div class="container w-100 my-5">
					<div class="row text-center">
						<a href="{% url 'social:begin' 'facebook' %}">Login con facebook</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</body>

</html>

{% endblock content %}