{% extends 'vista/Principal.html' %}
{% load static %}
{% block content %}
<div class="container-perfil mt-4 d-flex justify-content-center align-items-center">
    <div class="card mt-4 mb-4" id="container-perfil">
        <div class="card-header">
            <h1 class="card-title mt-2">Perfil de {{user.user_nombre}}</h1> 
        </div>
        <div class="card-body px-4">  
            <div class="mb-3 d-flex flex-column">
                <label for="username" class="form-label">Nombre</label>
                <p class="text-capitalize form-control" disabled="disabled">{{user.user_nombre}}</p>
            </div>
            <div class="mb-3 d-flex flex-column">
                <label for="username" class="form-label">Apellidos</label>
                <p class="text-capitalize form-control" disabled="disabled">{{user.user_apellidos}}</p>
            </div>
            <div class="mb-3 d-flex flex-column">
                <label for="username" class="form-label">Correo</label>
                <p class="text-capitalize form-control" disabled="disabled">{{user.user_correo}}</p>
            </div>
        </div>
        <div class="card-footer text-center">
            <a href="/logeo/modificarPerfil/{{user.id_user}}">
                <button class="btn btn-warning">Editar Datos
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="m2.344 15.271 2 3.46a1 1 0 0 0 1.366.365l1.396-.806c.58.457 1.221.832 1.895 1.112V21a1 1 0 0 0 1 1h4a1 1 0 0 0 1-1v-1.598a8.094 8.094 0 0 0 1.895-1.112l1.396.806c.477.275 1.091.11 1.366-.365l2-3.46a1.004 1.004 0 0 0-.365-1.366l-1.372-.793a7.683 7.683 0 0 0-.002-2.224l1.372-.793c.476-.275.641-.89.365-1.366l-2-3.46a1 1 0 0 0-1.366-.365l-1.396.806A8.034 8.034 0 0 0 15 4.598V3a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v1.598A8.094 8.094 0 0 0 7.105 5.71L5.71 4.904a.999.999 0 0 0-1.366.365l-2 3.46a1.004 1.004 0 0 0 .365 1.366l1.372.793a7.683 7.683 0 0 0 0 2.224l-1.372.793c-.476.275-.641.89-.365 1.366zM12 8c2.206 0 4 1.794 4 4s-1.794 4-4 4-4-1.794-4-4 1.794-4 4-4z">
                        </path>
                    </svg>
                </button>
            </a>
            <a href="/logeo/cambiarContraseña/{{user.id_user}}">
                <button class="btn btn-success">Cambiar Contraseña</button>
            </a>
            <a href="/logeo/historialReservas/{{user.id_user}}">
                <button class="btn btn-primary">Reservas</button>
            </a>
        </div>
    </div>
</div>
{% endblock content %}