{% extends 'vista/Principal.html' %}
{% load static %}
{% block content %}
<div class="container-perfil">
    <div class="card">
        <div class="card-header">
            <h1>Perfil de {{usuario.usr_nombre}} {{usuario.usr_apellido_pat}}</h1> 
        </div>
        <div class="card-body">
            <!-- <form action="" method = "POST">
                {% csrf_token %}
                <article class="card-body">
                    {{ formularioPerfil }}
                </article>
                <article class="card-footer" style="display: flex; justify-content: center;">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="width: 50%">Guardar
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-90deg-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M14.854 4.854a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 4H3.5A2.5 2.5 0 0 0 1 6.5v8a.5.5 0 0 0 1 0v-8A1.5 1.5 0 0 1 3.5 5h9.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4z"/>
                      </svg>
                </button>
                </article>
            </form> -->
            {% if usuarios %}
            <table class="table table-striped">
                <thead>
                    <tr>
                    <!-- <th scope="col">ID</th> -->
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido Paterno</th>
                    <th scope="col">Apellido Materno</th>
                    <th scope="col">Contraseña</th>
                    <th scope="col">Correo</th>
                    <!-- <th scope="col">Tipo</th> -->
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios %}
                        <tr id="{{usuario.id_usuario}}">
                            <!-- <td>{{usuario.id_usuario}}</td> -->
                            <td>{{usuario.usr_nombre}}</td>
                            <td>{{usuario.usr_apellido_pat}}</td>
                            <td>{{usuario.usr_apellido_mat}}</td>
                            <td>{{usuario.usr_pass}}</td>
                            <td>{{usuario.usr_correo}}</td>
                            <!-- <td>{{usuario.usr_tipo_id}}</td> -->
                            <td>
                                <a href="/logeo/modificarPerfil/{{usuario.id_usuario}}">
                                    <button>E</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}