{% extends 'vista/Principal.html' %}
{% load static %}

{% block content %}
<div class="container-register">
    <div class="card card-register">
        <div class="card-header">
            <i class='bx bxs-home-circle' style="font-size: 150px"></i>
        </div>
        <div class="card-body">
            <div class="row">
                <form method="POST">
                    <div class="d-grid">
                        {% csrf_token %}
                        <label for="region">Región</label>
                        <select name="region">
                        <option disabled selected value> --- Seleccione una Región --- </option>
                        {% for region in regiones %}
                            <option value="{{ region.id_region }}">{{ region.region_nombre }}</option>
                        {% endfor %}
                        
                        </select>
                        {{formulario}}  
                            <br>
                        <input class="btn btn-success" type="submit" value="registrar">
                    </div>
                    <div class="my-3">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}