{% block content %}
<p class="text-center fs-3 fw-bold font-monospace m-5">Recomendacion de la casa</p>
<hr class="border border-danger border-2 opacity-50">
<main class=" d-flex p-2 flex-wrap" style="place-content: center;">
    {% for producto in productos %}
    {% if producto.prod_recomendado %}
    <div class="card m-4 " style="width:250px" id="{{producto.id_producto}}">
      <img src="static/producto/{{producto.prod_imagen}}"class="card-img-top" alt="{{producto.prod_nombre}}">
      <div class="card-body " style="width: 200px; height: 150px;">
        <h5 class="card-title"> {{producto.prod_nombre}}</h5>
        <p class="">Precio: ${{producto.prod_precio_ba}}</p>
      </div>
    </div>
    </div>
    {% endif %}
    {% endfor %}

</main>
</body>

{% endblock content %}