{% extends 'vista/Principal.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="card col-sm-12 col-md-6 mx-auto mt-5">
        <form class="row g-3 needs-validation " novalidate id="comentarios" method="POST">
            {% csrf_token %}
            <div class="col-md-4">
                <label for="validationCustom01" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="validationCustom01" required name="Nombre">
                <div class="invalid-feedback">
                    ingrese su nombre
                </div>
            </div>
            <div class="col-md-4">
                <label for="validationCustom02" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="validationCustom02" required name="Apellido">
                <div class="invalid-feedback">
                    ingrese su apellido
                </div>
            </div>
            <div class="form-floating col-md-6">
                <label for="validationCustom05" class="form-label">Comentario</label><br><br>
                <textarea type="text" class="form-control" id="validationCustom05" name="Comentario"
                    required></textarea>
                <div class="invalid-feedback">
                    ingrese un comentario
                </div>
            </div>
            <div class="col-12">
                <button class="btn btn-primary" type="submit">Enviar</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}