{% extends "admin/base_site.html" %} {% block content %}

<body class="container">
    <h2 class="text-center card-header">Graficos</h2>
    <div class="row mt-2 text-center" id="lista">

        <div class="col-md-4  p-1">
            <div class="card">
                <div>
                    <canvas class="card" id="myChart"></canvas>
                </div>
            </div>
        </div>
        <br>
        <div class="p-1 col-md-3">
            <div class="card">
                <div>
                    <canvas id="myChart2"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-4  p-1">
            <div class="card">
                <div>
                    <canvas id="myChart3"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-4  p-1">
            <div class="card">
                <div>
                    <canvas id="myChart4"></canvas>
                </div>
            </div>
        </div>
        <br>
        <div class="p-1 col-md-4 ">
            <div>
                <div class="card ">
                    <h1 class=" text-center ">Usuarios Registrados</h1>
                    <h1 class="border-bottom">{{cu}}</h1>
                    <h1 class=" text-center">Total Ventas</h1>
                    <h1>1497</h1>
                </div>
            </div>
        </div>
    </div>
</body>




























{% endblock content %} {% block nav-global %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!--   -->
<script>
    const ctx = document.getElementById('myChart2');

    new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['Delivery', 'Retiro'],
            datasets: [{
                label: 'Usuarios Registrado',
                data: [932, 545, ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
<!---------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------Grafico de barra----------------------------------------------->
<!---------------------------------------------------------------------------------------------------------------->
<script>
    const bar = document.getElementById('myChart');

    new Chart(bar, {
        type: 'bar',
        data: {
            labels: [{ %
                    for prod in categoriaProd %
                }
                '{{prod.prod_categoria__categoria_prod}}', { % endfor %
                }
            ],
            datasets: [{
                label: 'Producto Por Categoria',
                data: [{ %
                        for prod in categoriaProd %
                    }
                    '{{prod.dcount}}', { % endfor %
                    }
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
<!---------------------------------------------------------------------------------------------------------------->
<!----------------------------------------Grafico de barra 2 datas ----------------------------------------------->
<!---------------------------------------------------------------------------------------------------------------->
<script>
    const $grafica = document.getElementById('myChart3');

    const etiquetas = ["Agosto", "Septiembre", "Octubre", "Noviembre"]
    const datosVentas2021 = {
        label: "Ventas por mes - 2021",
        data: [255, 152, 351, 452],
        backgroundColor: 'rgba(54, 162, 235, 0.2)',
        borderColor: 'rgba(54, 162, 235, 1)',
        borderWidth: 1,
    };
    const datosVentas2022 = {
        label: "Ventas por mes - 2022",
        data: [536, 357, 522, 651],
        backgroundColor: 'rgba(255, 159, 64, 0.2)',
        borderColor: 'rgba(255, 159, 64, 1)',
        borderWidth: 1,
    };

    new Chart($grafica, {
        type: 'bar',
        data: {
            labels: etiquetas,
            datasets: [
                datosVentas2021,
                datosVentas2022,
            ]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }],
            },
        }
    });
</script>
<!---------------------------------------------------------------------------------------------------------------->
<!----------------------------------------Grafico de barra 2 datas ----------------------------------------------->
<!---------------------------------------------------------------------------------------------------------------->
<script>
    // Obtener una referencia al elemento canvas del DOM
    const puntos = document.getElementById('myChart4');
    // Las etiquetas son las que van en el eje X. 
    const etiquetass = ["12:00-14:00", "14:00-16:00", "16:00-18:00", "18:00-20:00"]
        // Podemos tener varios conjuntos de datos

    const datosNoviembre2022 = {
        label: "Ventas por hora en el mes de Noviembre - 2022",
        data: [112, 250, 154, 135], // La data es un arreglo que debe tener la misma cantidad de valores que la cantidad de etiquetas
        backgroundColor: 'rgba(211,93,110, 0.2)', // Color de fondo
        borderColor: 'rgba(211,93,110, 1)', // Color del borde
        borderWidth: 1, // Ancho del borde
    };

    new Chart(puntos, {
        type: 'line', // Tipo de gráfica
        data: {
            labels: etiquetass,
            datasets: [
                datosNoviembre2022,
                // Aquí más datos...
            ]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }],
            },
        }
    });
</script>

<!---------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------ Script diseño----------------------------------------------->
<!---------------------------------------------------------------------------------------------------------------->
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<script src="/static/js/graficos.js"></script>
{% endblock %}