<!-- Footer -->
<div class="card text-bg-success">
    <div class="container">
        <div class="card-text">
            <br>
            <h5 class="card-title fs-5 fw-bold">Contáctanos</h5>
            <p class="fs-6">Escríbenos a nuestro correo<br /> <a href="mailto:osteriafranciscana@gmail.com" class="fs-6 text-white">osteriafranciscana@gmail.com</a>.
                <br /> Llamanos a nuestro teléfono <br /> <a href="Tel: +56991665964" class="btnllamar fs-6 text-white" onClick="return (navigator.userAgent.amtch(/ Android | iPhone | movile /i)) != null;">+56991665964</a>
            </p>
        </div>
    </div>
</div>