{% extends 'vista/Principal.html' %}

{% block content %}
<div class="ordenes">
    <h1>Historial</h1>
    <div class="historial">
        <a href="/productos/pedidos/">
            <button class="btn btn-primary">Volver</button>
        </a>
    </div>
    {% if pedidos %}
    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Detalle</th>
              <th scope="col">Estado</th>
            </tr>
          </thead>
          <tbody>
            {% for pedido in pedidos %}
                <tr id="{{pedido.id_pedido}}" style="max-height: 63px;">
                    <td>{{pedido.id_pedido}}</td>
                    <td>{{pedido.pedido_modif}}</td>
                    {% if pedido.pedido_listo == 1%}
                        <td>Terminado</td>
                    {% endif %}
                    <td>
                        <a href="/productos/pedidos/visualizar/{{pedido.id_pedido}}">
                            <button class="btn btn btn-outline-primary me-md-2" type="submit">V</button>
                        </a>
                    </td>
                    <td>
                        <a href="/productos/eliminarPedido/{{pedido.id_pedido}}">
                            <button class="btn btn btn-outline-danger me-md-2" type="submit">E</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
          </tbody>
      </table>
    {% else %}
        <p class="mt-2">Sin ordenes disponibles</p>
    {% endif %}
</div>
{% endblock content %}