<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ingreso</title>
    <link rel="stylesheet" href="estilo.css">
</head>

<body>
    <section class="form-main">
        <div class="form-content">
            <div class="circle-1"></div>
            <div class="circle-2"></div>
            <div class="circle-3"></div>
            <div class="box">
                <center>
                    <div><img src="logo.png" width="100" height="100" alt=""></div>
                </center>
                <h3>CL-KDM</h3>
                <form action="">
                    <center><a style="text-align:center" class="btn" href="lista-abonados.html">Usuario</a></center>
                    <center><a style="text-align:center" class="btn" href="lista-abonados.html">Super Administrador</a></center>
            </div>

        </div>
    </section>
</body>
</html>