<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla de abonados</title>
    <link rel="stylesheet" href="estilo.css">
</head>

<body>
    <section class="form-main">
        <div class="form-content">
            <div class="circle-1"></div>
            <div class="circle-2"></div>
            <div class="circle-3"></div>
            <table border="1" width="100%">
                <thead bgcolor="#262A26">
                    <tr>
                        <th>Identificación</th>
                        <th>Abonados</th>
                        <th>Estado</th>
                    </tr>
                </thead>

                <tbody align="center">
                    <tr>
                        <td>-----</td>
                        <td>-----</td>
                        <td>-----</td>
                    </tr>

                    <tr>
                        <td>-----</td>
                        <td>-----</td>
                        <td>-----</td>
                    </tr>

                    <tr>
                        <td>-----</td>
                        <td>-----</td>
                        <td>-----</td>
                    </tr>

                    <tr>
                        <td>-----</td>
                        <td>-----</td>
                        <td>-----</td>
                    </tr>

                    <tr>
                        <td>-----</td>
                        <td>-----</td>
                        <td>-----</td>
                    </tr>

                    <tr>
                        <td>-----</td>
                        <td>-----</td>
                        <td>-----</td>
                    </tr>

                    <tr>
                        <td>-----</td>
                        <td>-----</td>
                        <td>-----</td>
                    </tr>

                    <tr>
                        <td>-----</td>
                        <td>-----</td>
                        <td>-----</td>
                    </tr>

                    <tr>
                        <td>-----</td>
                        <td>-----</td>
                        <td>-----</td>
                    </tr>
                </tbody>

            </table>

        </div>

    </section>

</body>