{% extends 'vista/Principal.html' %}

{% block content %}
<div class="ordenes">
    <p>Ordenes</p>
    {% if ordenes %}
    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">N°</th>
              <th scope="col">Mesa</th>
              <th scope="col">Clientes</th>
              <th scope="col">Entrada</th>
              <th scope="col">Plato Principal</th>
              <th scope="col">Postre</th>
              <th scope="col">Bebestible</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            {% for orden in ordenes %}
                <tr id="{{ orden.id_orden }}">
                    <td>{{ orden.orden_mesa }}</td>
                    <td>{{ orden.orden_clientes }}</td>
                    <td>{{ orden.orden_entrada }}</td>
                    <td>{{ orden.orden_plato_principal }}</td>
                    <td>{{ orden.orden_postre }}</td>
                    <td>{{ orden.orden_bebestible }}</td>
                    <td>$ {{ orden.orden_total }}</td>
                    <td>
                        <a href="">
                            <button class="btn btn btn-outline-primary me-md-2" type="submit">V</button>
                        </a>
                    </td>
                    <td>
                        <a href="">
                            <button class="btn btn btn-outline-warning me-md-2" type="submit">M</button>
                        </a>
                    </td>
                    <td>
                        <a href="">
                            <button class="btn btn btn-outline-danger me-md-2" type="submit">C</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
          </tbody>
      </table>
    {% else %}
        <p>Sin ordenes disponibles</p>
    {% endif %}
    <a href="">
        <button class="btn btn btn-outline-primary me-md-2" type="submit">Ver</button>
    </a>
</div>
{% endblock content %}