{% extends 'vista/Principal.html' %}

{% block content %}
<div class="row">    
    <form method = "POST">
        <div class="card">
            {% csrf_token %}
            <div class="card-header">
                <h1 class="card-tittle">Reserva</h1>
            </div>
            <div class="card-body">
                {{ formulario }}
            </div>
            <div class="card-footer" style="display: flex; justify-content: center;">
                <button class="btn btn-success my-2 my-sm-0" type="submit" style="width: 50%">Guardar</button>
            </div>
        </div>
    </form>
</div>
{% endblock content %}