{% extends 'vista/Principal.html' %} {% block content %}
<div class="m-0 vh-80 row justify-content-center align-items-center">
    <div class="col-8 p-2">
        <div class="d-flex justify-content-around">
            <div class="card col-15" style="background-color: rgb(146, 245, 126, 0.3);">
                <img src="https://www.ginos.es/sites/all/themes/custom/ginos_theme/img/valores/despues.jpg" class="card-img" alt="Stony Beach" />
                <div class="card-body">
                    <h5 class="card-title">Quienes somos</h5>
                    <p class="text-start">Con la mejor experiencia en el área gastronómica traída directamente desde Italia, el equipo de trabajo de "osteria francescana" están dedicados a dar al cliente la mejor selección de productos italianos de la más alta calidad, cliente
                        la mejor selección de productos italianos de la más alta calidad, tradición y exclusividad.</p>
                    <p class="text-start">Nuestros principales servicios son:</p>
                    <p class="text-start">- Selección del producto: la mejor calidad al mejor precio</p>
                    <p class="text-start">- Comodidad de servicio como retiro o delivery</p>
                    <p class="text-start">- Entregas en la mayor cantidad de días del año</p>
                    <br />
                    <div class="text-start">
                        <h5 class="card-title">Nuestras redes</h5>
                        <p class="letraabajo">Escríbenos a nuestro correo es <a class="text-dark" href="mailto:osteriafranciscana@gmail.com">osteriafranciscana@gmail.com</a>,
                            <br /> Puedes llamarnos a nuestro teléfono <a href="Tel: +56291665964" class="btnllamar text-dark" onClick="return (navigator.userAgent.amtch(/ Android | iPhone | movile /i)) != null;">+56291665964</a>,
                            <br />O simplemente puedes visitarnos en <a class="text-dark" href="https://goo.gl/maps/5MvX1MmPUVtrSvCw9" target="_blank">Eyzaguirre 650, San Bernardo, Región Metropolitana</a>.
                            <br />
                    </div>
                    <div class="text-start">
                        <h5 class="card-title">Horario Tienda Virtual</h5>
                        <p>
                            Compra en nuestra carta online y recibe en casa listo para servir.

                            <br /> Lunes - Martes - Miercoles: 12:30 - 20:30

                            <br /> Jueves - Viernes - Sábado: 12:00 - 20:30

                            <br /> Domingo y festivos: 12:00 - 19:00
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}