{% extends 'vista/Principal.html' %} 
{% load static %} 
{% block content %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title" id="nro_mesa">{{mesa.mesa_nro}}</h5>
        <p class="card-text">Fecha {{venta.vta_fecha}}</p>
        <p class="card-text">ID {{venta.id_venta}}</p>
        <div id="message"></div>
        <form class="row" id="agre_pedid">
            {% csrf_token %}
            <input type="hidden" name="id_venta" value="{{venta.id_venta}}">
            <select class="form-select col-3" id="categoria" name="categoria">
                <option value="0" id="0"> -- Seleccione una Categoría -- </option>
                {% for categoria in categorias %}
                    <option value="{{ categoria.id_categoria }}">{{ categoria.categoria_prod }}</option>
                {% endfor %}
            </select>
            <select class="form-select col-3" id="producto" name="producto">
                <option value="0" id="0"> --- Seleccione un Producto --- </option>
                {% for producto in productos %}
                    <option id="{{producto.prod_categoria_id}}" value="{{ producto.id_producto }}">{{ producto.prod_nombre }}</option>
                {% endfor %}   
            </select>
            <input class="col" type="text" name="modific" id="modific">
            <button class="col-2" id="add_ped">Nuevo pedido</button>
        </form>
        <br>
        <table class="table" id="lista_pedidos">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Modificaciones</th>
                    <th scope="col">Pedido Listo</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% if pedidos != None %}
                    {% for pedido in pedidos %}
                        <tr>
                            <td>{{pedido.id_pedido}}</th>
                            <td>{{pedido.pedido_producto}}</td>
                            <td>{{pedido.pedido_modif}}</td>
                            <td>{{pedido.pedido_listo}}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                
            </tbody>
        </table>
    </div>
</div>
<script src="/static/js/Mesero.js"></script>
{% endblock content %}