{% load static %}
<nav class="navbar navbar-dark bg-dark ">
  <div class="container-fluid ">
    <a class="navbar-brand position-relative top-50 start-50 translate-middle-x" href="#">
      <img src={% static 'media/logo.png' %} alt="Logo" width="30" height="24"
        class="d-inline-block align-text-center ">
      Osteria Franciscana
    </a>
  </div>
</nav>
<!-- As a link -->
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <button class="btn btn-outline-danger me-md-2" type="button">Ingresar <img src={% static 'media/log-in.svg' %} alt=""></button>
</div>